---

---
<footer class="bg-gray-800 rounded-md flex flex-col items-center md:items-end">
    <div class="w-full">
      <p class="text-lg text-gray-500 py-12 text-center">&copy; 2023 Your Company. All rights reserved.</p>
    </div>
    <div class="flex flex-row gap-4 p-4">
        <button class="mt-4 bg-yellow-300 hover:bg-yellow-800 hover:text-yellow-100 text-yellow-800 px-4 py-2 rounded-md  text-sm">Terms of Use</button>
        <button class="mt-4 bg-red-300 hover:bg-red-800 hover:text-red-100 text-red-800 px-4 py-2 rounded-md text-sm">Privacy Policy</button>
    </div>
</footer>