---
import Video from "./Video.astro";
---
<div class="w-full flex flex-col justify-center gap-4 md:flex-row md:gap-12 rounded">
    <Video url="https://www.youtube.com/embed/QtXby3twMmI" />
    <Video url="https://www.youtube.com/embed/8Ee4QjCEHHc" />
</div>